.offer__img {
  width: 100%;
}

// .offer__img--video {
//   min-height: 270px;
// }



.offer__list {
  list-style-type: none;
}

.offer__price {
  font-weight: 700;
}

.offer__button {
  margin-top: 1rem;
}