block varibles
  -var djOffersItems = ['DJ MINIMAL', 'DJ LITE', 'DJ PRO']
  -var offersImgdj = ['dj-min.jpg', 'dj-lite.jpg', 'dj-hit.jpg']
  -
    var djMinimal = [
      "MacBook Pro",
      "Dj Pioneer",
      "Dj фасад",
      ]
  -
    var djLite = [
      "MacBook Pro",
      "Dj Pioneer",
      "Акустическая система RCF 1000Вт",
      "Свет на стойке involight sbl 2000",
      "Два радиомикрофона shure beta58",
      "Цифровой микшерный пульт",
      "Dj фасад"
      ]
  -
    var djPro = [
      "MacBook Pro",
      "Dj Pioneer",
      "Акустическая система + сабвуфер RCF 2000Вт",
      "Свет две стойки involight sbl 2000 и 5000",
      "Два радио микрофона shure beta 58",
      "Цифровой микшерный пульт",
      "Dj фасад",
      "Телевизор 55\" на стойке / проектор",
      "В подарок караоке AST",
      "Услуги звукорежиссера"
      ]
  -var djOfferLists = [djMinimal, djLite, djPro]
  
  -
    var djPrices = [
      "5 часов 15000₽",
      "5 часов — 20000₽",
      "5 часов — 30000₽",
    ]
  - var notedj = 'Работа диджея на вашем звуковом оборудовании.'
  -
    var ordersdj = [
      "minimal-dj",
      "lite-dj",
      "pro-dj",
    ]
  -var djOffers = { offers: djOffersItems, offersImg: offersImgdj, offerLists: djOfferLists, prices: djPrices, note: notedj, orders: ordersdj }