block varibles
  - var karaokeOffersItems = ["Karaoke Minimal", "Karaoke Lite", "Djkaraoke Pro"]
  - var offersImgKaraoke = ["karaoke-min.jpg", "karaoke-lite.jpg", "karaoke-hit.jpg"]
  -
    var karaokeMinimal = [
      "Караоке AST",
      "Акустическая система 500Вт",
      "Два радио микрофона",
      "Микшерный пульт с эффектами"
      ]
  -
    var karaokeLite = [
      "Караоке AST",
      "Акустическая система RCF 1000Вт",
      "Два радио микрофона shure beta 58",
      "Проектор/экран/",
      "Цифровой микшерный пульт",
      "Свет на стойке involight sbl 2000",
      "Услуги звукорежиссера"
      ]
  -
    var karaokePro = [
      "Караоке AST",
      "Акустическая система RCF 2000Вт",
      "Два радио микрофона shure beta 58",
      "Телевизор 55\" на стойке / проектор",
      "Цифровой микшерный пульт",
      "Свет на стойке involight sbl 2000 и 5000",
      "Услуги звукорежиссера",
      "Профессиональный DJ/MC",
      "MacBook Pro",
      "Dj Pioneer",
      "Dj фасад"
      ]
  - var karaokeOfferLists = [karaokeMinimal, karaokeLite, karaokePro]

  -
    var karaokePrices = [
      "12 часов — 12000₽",
      "5 часов — 20000₽",
      "5 часов — 30000₽",
    ]
  - var noteKaraoke = "Привозим, подключаем к вашему телевизору, обучаем настройкам и заключаем договор."
  -
    var ordersKaraoke = [
      "minimal-karaoke",
      "lite-karaoke",
      "pro-karaoke",
    ]
  - var karaokeOffers = { offers: karaokeOffersItems, offersImg: offersImgKaraoke, offerLists: karaokeOfferLists, prices: karaokePrices, note: noteKaraoke, orders: ordersKaraoke }
