block varibles
  -
    var reviewsPersons = [
      'Юлия Максимович',
      'Ирина Богданова',
      'Юлия Милюкова',
      'Наталия Клочкова',
      'Андрей Волхонов',
      'Алеся Михалева',
      'Анастасия Грациани',
      'Татьяна Полякова',
      'Ольга Сазыкина',
      'Марк Мусинов',
      'Екатерина Волкова',
      'Александра Переверзева',
    ]
  -
    var imgs = [
      'maksimovich.jpg',
      'bogdanova.jpg',
      'miluchova.jpg',
      'klochkova.jpg',
      'volhnov.jpg',
      'mikhaleva.jpg',
      'graciani.jpg',
      'polyakova.jpg',
      'sazikina.jpg',
      'musinov.jpg',
      'volkova.jpg',
      'pereverzeva.jpg',
    ]

  -
    var events = [
      'Event агенство «Делай ярче»',
      'День Рождения',
      'Корпоратив',
      'Юбилей мужа',
      'Свадьба',
      'Корпоратив',
      'Юбилей',
      'Свадьба',
      'Свадьба',
      'День Рождения',
      'Свадьба',
      'Юбилей отца',
    ]
  -
    var links = [
      ['facebook', 'https://www.facebook.com/yuliya.maksimovich.9'],
      ['facebook', 'https://www.facebook.com/profile.php?id=100061833382999'],
      ['facebook', 'https://www.facebook.com/profile.php?id=100001931621727'],
      ['facebook', 'https://www.facebook.com/profile.php?id=100001061987625'],
      ['vk', 'https://vk.com/id5376754'],
      ['instagram', 'https://www.instagram.com/alesya_mhlv/'],
      ['vk', 'https://vk.com/graciani'],
      ['instagram', 'https://www.instagram.com/tanya_korolev/'],
      ['vk', 'https://vk.com/sazykinao'],
      ['facebook', 'https://www.facebook.com/markmusin/'],
      ['instagram', 'https://www.instagram.com/vopitropi/'],
      ['vk', 'https://vk.com/id6820885'],
    ]

  -
    var reviewsTexts = [
      'Женя - человек, с которым максимально комфортно работать. Интеллигентный, с чувством такта, все предусмотрит, отзывчивый. Провели совместно множество проектов, а мы доверяем только лучшим в индустрии ивента.',
      'Спасибо, Евгений!!! Вы лучший ведущий из тех, что я встречала на своём пути! Всегда интересная программа и подход к любому мероприятию, будем дальше приглашать Вас проводить наши праздники.',
      'Мы позвали Евгения на свой корпоратив, он сделал наш праздник! Всем очень понравилось и караоке и дискотека, спасибо! Будем обращаться еще)',
      'Женя, огромное спасибо тебе и твоим ребятам. Вы были как всегда на высоте! Остались незабываемые впечатления у нас и у всех гостей! Вы супер! Как обычно буду рекомендовать тебя всем знакомым.',
      'Женя вел наш праздник и все 50 человек оценили работу по достоинству! Спасибо Женя, ты сделал наш вечер!',
      'Все очень понравилось, спасибо большое!))) Ребята в восторге, сказали, что ты им понравился, ненавязчивый и все в меру)) И конкурсы классные, никакой ерунды)) Все было супер, спасибо большое!)))',
      'Женя, хочу выразить сердечную Благодарность за твой великолепный труд! Ты самый ЛУЧШИЙ ведущий! Огромное спасибо тебе и твоей команде за проведение нашего незабываемого праздника.',
      'Спасибо, Евгений! Вы, ведущий от бога! Свадьба брата запомнится нам на всю жизнь! Всё было просто замечательно, музыка, конкурсы, шутки! Атмосфера была просто волшебной! Ещё раз спасибо вам большое! Обязательно расскажу про вас всем друзьям.',
      'Это профессионалы, спасибо за наш День свадьбы!',
      'Шикарный звук, Евгений профессионал! Спели как звезды, хотя не умеем петь, это все благодаря мастерскому подходу Евгения. Потанцевали и потусили вместе с ним.',
      'Спасибо! Все было замечательно, гости были в восторге! Особое спасибо за время, которое ты уделял нам до свадьбы, мы так переживали, но ты всегда был на связи и поддерживал.',
      'Привет! Я сейчас на юбилее, это кошмар, а не ведущие! Всеми руками за тебя, бронирую на 10 марта! Женя, ты гений вместе со своей командой!',
    ]
  -var reviews = {persons: reviewsPersons, reviewsTexts: reviewsTexts, imgs: imgs, links: links, events: events}