block varibles
  -
    var skillsTexts = [
      'Наша компания работает по принципу индивидуального подхода к каждому клиенту. Мы уважаем ваши пожелания и предпочтения.',
      'Мы заинтересованы в дальнейшем сотрудничестве и оказываем максимально высокий уровень услуг.',
      'Как артист я понимаю, что единственный способ пополнить свою энергию - это обратная связь от вас, поэтому выкладываюсь на все 100%.',
      'Вы всегда можете рассчитывать на нашу помощь. За время работы мы собрали профессиональную команду, которая решит любую задачу.',
    ]
  -
    var skillsImgs = [
      'individual.svg',
      'star.svg',
      'wink.svg',
      'support.svg'
    ]
  -
    var skills = [
      'Индивидуальный подход',
      'Высокое качество',
      'Искренние эмоции',
      'Поддержка на любом этапе мероприятия',
    ]
  -var skillsData = {skills: skills, skillsImgs: skillsImgs, skillsTexts: skillsTexts}