extends ../layouts/main
block varibles
  include ../data/karaoke-offers
  include ../data/dj-offers
  include ../data/reviews-data
  include ../data/skills-data
  - var metaDescription = "Аренда караоке Ведущий и диджей на праздник, тяжелый дым на свадьбу"
  - var metaKeywords = ""
  - var pageTitle = "Выездное караоке, диджей на юбилей, ведущий и диджей на свадьбу, аренда караоке оборудования. Заказать в Москве DJKARAOKE."
  -
    var itemsSmoke = [
      {videoLink: "https://www.youtube.com/watch?v=MBGjCBg8EuA&feature=youtu.be", imgPlug: "plug-smoke.jpg", imgAlt: "Тяжелый дым"},
    ]
  - var smokeVideo = { idUl: "smoke-video", classUl: "columns", items: itemsSmoke, posterMod: "video-gallery__poster--circle" }
  -
    var itemsLeading = [
      {videoLink: "https://www.youtube.com/watch?v=6HeeDmfQWgc&feature=emb_logo", imgPlug: "plug-leading.jpg", imgAlt: "Ведущий Евгений Александров"},
    ]
  - var leadingVideo = { idUl: "leading-video", classUl: "columns", items: itemsLeading, posterMod: "video-gallery__poster--circle" }
  -
    var itemsGallery = [
      {videoLink: "https://www.youtube.com/watch?v=VtqUC3rvhks&feature=emb_logo", imgPlug: "plug-gallery.jpg", imgAlt: "DJ KARAOKE"},
      {videoLink: "https://www.youtube.com/watch?v=bAYPViYuTGs&feature=emb_logo", imgPlug: "plug-gallery.jpg", imgAlt: "DJ KARAOKE"},
    ]
  - var galleryVideo = { idUl: "gallery-video", classUl: "columns", items: itemsGallery, posterMod: "" }

block content
  
  +jumping-buttons
  .fluid.fluid--black.fluid--fixed
    .wrap.header
      .header__logo
        a.header__link(href='./') DJKARAOKE
      .header__menu
        +menu({"items": ["О нас", "Караоке", "Диджей", "Ведущий", "Тяжелый дым", "Отзывы", "Портфолио", "Контакты"], "links": ["about", "karaoke", "dj", "leading", "smoke","reviews", "portfolio", "contacts"]})
  .fluid.fluid--p.fluid--gradient
    
    .wrap.center
      h1.h1 Ведущий на свадьбу<br />диджей на праздник<br />аренда караоке<br />оборудования<br/>тяжелый дым
      p.p-big.white Все для Вашего мероприятия без наценок и посредников
      
  .fluid.fluid--pale-pink#about
    .wrap
      
      h2.h2.center О нас
      p.p-big.center Наша команда оказывает услуги по организации мероприятий. У нас вы можете:
      ul.left.list
        
        li.list__item <a href="#karaoke" class="text-link">заказать выездное караоке</a> или взять караоке оборудование в аренду. Профессиональное оборудование и звукорежиссёр гарантируют высокий уровень услуг. Если желаете почувствовать себя звездой, то все что вам нужно - это заказать караоке у нас!
        li.list__item заказать диджея с оборудованием и без. Диджей на праздник, <a href="#dj" class="text-link">диджей на юбилей</a>, диджей на свадьбу, диджей на корпоратив, диджей на выпускной, диджей на новый год - это ваша любимая музыка. Диджей и караоке на выезд удобно и весело! Всегда обновленная база песен и отличный звук!
        li.list__item а если вам наскучила поп музыка, вы с легкостью можете заказать DJ , который порадует ваш слух стильной музыкой любимых направлений будь то Tech, Deep, Soul, Disco или Techno.
        details
          summary Подробнее
          li.list__item за нашими плечами не только организация караоке и диджей вечеринок, но и красивые семейные торжества. В команде есть отличный ведущий на свадьбу и ведущий на юбилей, который создаст необходимую дружескую атмосферу на вашем празднике. Слаженный тандем ведущий и диджей на свадьбу - это гарантия отличного праздника.
          li.list__item <a href="#leading" class="text-link">ведущий певец</a> - отличное решение для любого торжества, драйв, энергия и любимые песни будут сопровождать вас весь вечер
          li.list__item так же возможна свадьба без ведущего, наш DJ/MC с легкостью общается с публикой, предоставит слово и встретит гостей.
          li.list__item если вы хотите неповторимый свадебный танец, то стоит заказать тяжелый дым на свадьбу. Красивые фото и видео наполнят ваш семейный альбом.
          li.list__item <a href="https://djkaraoke.ru", class="text-link" target="blank" >https://djkaraoke.ru</a> - это лучшее решение для вашего праздника. Чтобы вы были спокойны, мы приезжаем за два часа до начала мероприятия, доставка и монтаж входят в стоимость услуг. Позвоните или напишите нам, и мы подробно расскажем какие услуги: диджей на праздник, свадебный ведущий, аренда караоке оборудования или тяжелый дым на свадьбу подойдут именно вам. Так же мы сможем обсудить тайминг, интерактивную часть программы, индивидуальный плейлист и ключевые моменты вашего торжества.
  .fluid.fluid--gray
    a#karaoke
    .wrap
      h2.h2.center Выездное караоке и аренда караоке оборудования
      p.p-big.center Всегда качественный звук и обновление базы песен
      +offer(karaokeOffers)
  .fluid.fluid--pale-pink
    a#dj
    .wrap
      h2.h2.center Диджей на праздник
      p.p-big.center Создаст необходимую атмосферу и драйв на танцполе
      +offer(djOffers)
  .fluid.fluid--white
    a#leading
    .wrap
      h2.h2.center Ведущий на свадьбу и ведущий на юбилей
      p.p-big.center Человек, который сделает мероприятие комфортным и интересным
      .leading
        .leading__wrap
          +video-gallery(leadingVideo)
          .leading__about
            h3.h3 Евгений Александров
            p.p-mini Ведущий, Dj, музыкант
            p Он точно знает, как сделать нужную атмосферу на мероприятии. Драйв, энергетика, стиль и уверенность, а так же свободная импровизация, вот что отличает его от других.
          a(href='https://aesproduction.ru', target='blank')
            button.button Подробнее
  .fluid.fluid--pale-blue
    a#smoke
    .wrap
      h2.h2.center Тяжелый дым на свадьбу
      p.p-big.center Красивое оформление первого танца
      .leading
        .leading__wrap
          +video-gallery(smokeVideo)
          .leading__about
            h3.h3 Тяжелый дым
            p.p-mini Для запуска тяжелого дыма используется 20 кг сухого льда, что гарантирует высокое качество услуги на площади до 300 метров.
            p.bold Запуск 15000₽
  .fluid.fluid--black
    .wrap.gallery
      a#reviews
      h2.center.big Отзывы наших клиентов
      +reviews(reviews)
  .fluid
    .wrap.gallery
      h2.center.big Выбирая нас, Вы получаете
      +skills(skillsData)
    +social({"mode": "fluid"})
  .fluid
    .wrap.gallery
      a#portfolio
      +photo-gallery("img", 12)
      +video-gallery(galleryVideo)
  +footer

block scripts
