include menu/menu
include social/social
include jumping-buttons/jumping-buttons
include video-gallery/video-gallery
include reviews/reviews
include footer/footer
include offer/offer
include photo-gallery/photo-gallery