//contacts

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.social-wrap {
  position: relative;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}